static/tmp/*
.idea
__pycache__
*.log
static/v3
static/goby_pocs
static/
*.pkl
*.md
*.json
venv
venv2
.ipynb_checkpoints
*.svg
*.png
*.mermaid
default_graph_name
*.response.txt
*.egg-info
build/
.pytest_cache/
.venv
logs/